*{padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --nav-color: rgb(6, 4, 60);
   --text-color: rgb(253, 251, 251);
   --primary-color:rgb(147, 146, 146);
}
nav{
    background: linear-gradient(url(pexels-mazha-imam-181006010-11196384.jpg));
    display: flex;
    justify-content: space-between;
    
    color: var(--text-color);
    padding: 15px;
}
.title{
    width: 50%;
    display: flex;
    align-items: center;
}
.menu{
    width: 50%;
    justify-content: space-around;
    display: flex;
    float: left 20px;
    
}
.menu a{
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
    position: sticky;
}
.Hero{
    width: 100%;
    display: flex;
    background-color: var(--nav-color);
    color: var(--text-color);
}
.box1{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}.box2{
    width: 50%;
    padding: 50px;
}
.box1 h1{
    font-size: 50px;
    color: var(--text-color);
}
.box1 button{
    border: none;
    width: 30%;
    padding: 10px;
    border-radius: 50%;
    float: right 5px;
    background-color: var(--primary-color);
}
.box2 img{
    width: 300px;
    height: 250px;
    border-radius: 50%;
}