* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    background:linear-gradient(rgba(13, 13, 13)50%,rgba(24, 24, 1)50%,url(pexels-mazha-imam-181006010-11196384.jpg));
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: greenyellow;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(243, 51, 51);
}

.content {
    color: greenyellow;
    position: relative;
}

h5 {
    font-family:'Times New Roman';
    padding-left: 30px;
    font-size: 7px;
    line-height: 20px;
}

h5 span {
    color: rgb(208, 7, 7);


}

h3,
h2 {
    padding-left: 30px;
    line-height: 20px;
}

.content {
    padding-top: 70px;
}

.content .btn {
    width: 120px;
    height: 30px;
    background-color: greenyellow;
    border: none;

    margin-left: 30px;
    line-height: 25px;
    margin-top: 25px;

}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.content .btn :hover{
    background-color: rgb(208, 7, 7);
}
